.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {    
    margin: 10px;
    position: relative;
    padding: 0.5;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;

}

h3 {    
    font-weight: 200;
    color: navy;
    font-size: 22px;
    text-align: center;

}

h4 {    
    font-weight: 200;
    color: Maroon;
    font-size: 18px;
    position: relative;
}

h5 {    
    font-weight: 500;
    color: navy;
    font-size: 20px;
    position: relative;
    text-align: center;
}

h6 {    
    font-weight: 500;
    color: Red;
    font-size: 20px;
    position: relative;
}

th
{    
    font-size: 15px;
    position: relative;
}

.ManageStores { display: block; padding: 10;border: 1px solid gray; margin: 10px; bgcolor: #F0F0F0}

.ManageStoresChild { display: block; padding: 10; margin: 30px; }

